









.buttons .button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main--secundario);
  
  border-radius: 4px;
  padding: 10px 20px;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.buttons .button:hover {
  background: var(--main--primaryColor);
  color: var(--main--textColor);
  padding: 10px 20px;
}

.buttons .button:focus {
  background: var(--main--primaryColor);
  color: var(--main--textColor);
}







/* creo que es de team  */

.icon__tarjetas {
  width: 20px;
  height: 20px;
  fill: var(--main--textSecundario);
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon__tarjetas:hover {
  width: 20px;
  height: 20px;
  fill: var(--main--textColor);
}

/* creo que cierra algo de team */







/**********************************************************************************************************************************************************/
/* estilo botones */

/*  estilos foooter*/
/*revisar este codigo, el porque no me aparece la mano del cursor */



/****************************************************************************************estilos pagina portfolio******************************************************/

.card__portfolio-title {
  font-size: 18px;
  color: #212121;
  line-height: 30px;
}

.card__portfolio-paragraph {
  font-size: 16px;
  color: var(--main--textSecundario);
  line-height: 30px;
}


/* .current::after {
  content: "";

  left: 0;
  bottom: -1px;
  display: inline-block;
  width: 100px;
  height: 4px;
  background-color: blue;
  border-radius: 2px;
} */


/* -------------------------------------------_______________estilos portafolio menu__________________________________________-----------------------------------*/

.button__list {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.button__portfolio {
  padding-top: 105px;
}

/*____________estilod portafolio imagenes__________________________________________________*/

.card__portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px; /* verificar gap en cambios mas adelante*/
}

.card__portfolio-item {
  width: 375px;

  flex-basis: calc((100% - 60px) / 3);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card__portfolio-item:hover {
  box-shadow: 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card__portfolio-title {
  padding-left: 25px;
  color: var(--main--secundario);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;

  /* 200% */
  letter-spacing: 1.08px;
}

.card__portfolio-paragraph {
  padding-left: 25px;
  color: var(--main--textSecundario);
  font-family: Roboto;
  font-size: 16px;

  font-weight: 400;

  /* 187.5% */
  letter-spacing: 0.48px;
}



/***********************************overlay******/

.card__portfolio-box {
  position: relative;

  overflow: hidden;
}

.card__portfolio-box:hover .overlay {
  transform: translatex(0);
}

.overlay {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  text-align: center;
  height: 100%;
  background: var(--main--primaryColor);
  transform: translatey(110%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay code {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--main--textColor);
}

hr {
  width: 1600px;
  height: 1px;
  background-image: url(../images/Línea.jpg);
  margin-top: -1px;
}



/* /::::::::::::::::::::_________________________::::::::::::::::::::::::::::/ */






































