/* ----------- Benefits section ----------- */

.benefits .container .benefits-list {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;

  li {
    list-style: none;
    width: 270px;
  }

  & li div {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--gray-1);
    border-radius: 15px;
    height: 120px;
    margin-bottom: 15px;
    width: 270px;
  }
  li div .icon-benefit {
    width: 70px;
    height: 70px;
  }
}

.benefits
  .container
  .benefits-list
  .benefits
  .container
  .benefits-list
  li
  .title {
  height: 50px;
  text-transform: uppercase;
  color: var(--primary-black-color);
}
