/*estilo botones */

.button__primary {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 700;

  border: none;
  outline: none;
  text-transform: capitalize;
  padding: 10px 20px;

  &:hover {
    background-color: var(--accent-color-hover);
  }
}
