/*----------- footer section ----------- */
footer {
  padding: 94px var(--container-padding);
  background-color: var(--background-black-2);

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 20px;
   
    aside p {
        color: var(--primary-white-color);
        font-weight: 700;
        margin-bottom: 20px;
      }

      aside ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 10px;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
          
            background-color: var(--primary-white-10Perc);
            border-radius: 25px;
            box-shadow: hsla(0, 0%, 0%, 0.479) 0 3px 5px;
            cursor: pointer;
            height: 44px;
            width: 44px;

            .icon {
                fill: var(--primary-white-color);
              }

            &:hover {
                background-color: var(--accent-color);
              }
          }
          
      }
      
    address ul {
      list-style: none;
    }
    .logo {
      padding-left: 15px;
      color: var(--primary-white-color);

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
footer .container address .contact {
  display: block;
  color: var(--gray-2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  padding: 5px 0;

  &:hover {
    color: var(--primary-white-color);
  }
}




