
// este falta


footer {
//     background: $--main--backgraundSecundario;
// 
background: yellow;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 24px;
    display: flex;
}

.footer p {
    font-size: 14px;
    font-weight: 400;
    // color: $--main--textColor;
}

.footer__logo {
    background-color: #ffffff1a;
}






.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer__contacts a {
    // color: $--main--secundario;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer__contacts a:hover {
    // color: $--main--primaryColor;
    color:red;
}

.footer__text p {
    margin: 0px;
}

.footer__container-redes {
    padding-left: 100px;
}

.footer__container-list {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    width: 100%;
}





.footer__container-title {
    // color: $--main--textColor;
    color: blue;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-bottom: 20px;
}






// redes sociales footer */ 

.footer__container-item {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    align-content: center;

    border-radius: 50%;
}

.footer__container-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: white;
    transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer__container-item:hover>.footer__container-link,
.footer__container-item:focus>.footer__container-link,
.footer__container-item:focus-within>.footer__container-link {
    // background-color: $--main--primaryColor;
    background-color: pink;
    cursor: pointer;
    outline: none;
}

.footer__container-item:hover .footer__container-svg,
.footer__container-item:focus .footer__container-svg,
.footer__container-item:focus-within .footer__container-svg {
    fill: white;
}