/* ----------- Hero section ----------- */
.hero {
    background: url("../images/img_hero.jpg");
    background-blend-mode: overlay;
    padding: 200px var(--container-padding);
    position: relative;
    text-align: center;
 
    .hero-title {
    width: 500px;
    margin: 20px auto;
    color: var(--primary-white-color);
    font-size: 44px;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
  }
  .hero button {
    /* position: relative;  */
    /* margin: 8px; */
    z-index: 2;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
  
    background-color: var(--background-black-240Perc);
    height: 100%;
    width: 100%;
  }
}
  