/*----------- Portfolio section -----------*/

.portfolio .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
    list-style: none;

    li button {
        border: none;
        outline: none;
        color: var(--primary-black-color);
      
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: 0.02em;
        padding: 10px 30px;
      
        text-decoration: none;
        text-transform: capitalize;

        &:hover {
            box-shadow: rgba(82, 82, 82, 0.3) 0 3px 5px;
          }
      }
  }

  

  
  .portfolio .cards {
    justify-content: space-between;
    flex-wrap: wrap;
  
    display: flex;
    li {
        margin-bottom: 50px;
        width: 360px;
        border: solid 1px var(--gray-1);
        list-style: none;

        a h2 {
            color: var(--primary-black-color);
            padding: 15px;
          }
          a p {
            color: var(--primary-text-color);
            font-size: 16px;
            padding: 15px;
          }

          a img {
            width: 100%;
          }

        &:hover {
            box-shadow: rgba(82, 82, 82, 0.3) 0 3px 5px;
          }
      }
  }
  
 
  
  .portfolio .menu li button:hover,
  .portfolio .menu li button.current {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }