/* ----------- What we do----------- */
.what__we-do .container h2 {
    color: var(--primary-black-color);
    font-size: 32px;
    font-weight: 700px;
    padding: 30px 0;
    text-align: center;
  }
  .what__we-do .container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
        list-style: none;
        width: 360px;
      }
  }
  