/*  variables root colores  */

:root {
    --accent-color: #2196f3;
    --accent-color-hover: #188ce8;
  
    --background-black-1: #21303a;
    --background-black-2: #2f303a;
    --background-black-240Perc: hsla(235, 10%, 21%, 0.4);
  
    --primary-black-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --primary-white-60Perc: hsla(0, 0%, 100%, 0.6);
    --primary-white-10Perc: hsla(0, 0%, 100%, 0.1);
  
    --gray-1: #f5f4fa;
    --gray-2: #afb1b8;
    --black-1: #000000;
  
    --container-padding: calc((100% - 1200px) / 2);
  }